@import url('https://fonts.googleapis.com/css?family=Roboto:200,300,400&display=swap');

html {
  font-size: 62.5%;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;

	body {
        overflow-x: hidden;
        
        .App {
            text-align: center;
        }
	}
}